{% extends 'base.html' %}
{% load static %}
{% block content %}


		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'store' %}">Store</a></li>
							<li class="active">Product Detail</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-img">
							<div class="product-preview">
								<img src="{{ product.image.url }}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{ product.name }}</h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
							</div>
							<div>
								<h3 class="product-price">M'${{ product.price }}<del class="product-old-price">M'${{ product.price }}</del></h3>
								{% if product.status == 'in stock' %}
								<p style="color: green; font-size: 25px;" class="card-text">В наличии</p>
								{% elif product.status == 'out of stock' %}
								<p style="color: red; font-size: 25px;" class="card-text">Нет в наличии</p>
								{% else %}
								<p style="color: blue; font-size: 25px;" class="card-text">Ожидается</p>
								{% endif %}
							</div>
							<div class="text" style="word-wrap:break-word;" >
								<p>{{ product.description }}</p>
							</div>

							<div class="product-options">
								<option value="0" style="color: red; font-size: 25px;">{{ product.color }}</option>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><a class="btn btn" href="{% url 'cart_add' product.id %}" role="button">Add to cart</a></button>
							</div>

							<ul class="product-links">
								<li>Category:</li>
								<li><a href="{% url 'home' %}">{{ product.category }}</a></li>
							</ul>
						</div>
					</div>
					<!-- /Product details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

								<button class="Update"><a class="btn btn-warning" href="{% url 'update-product' product.id %}" role="button">Update</a></button>
								<button class="Delete"><a class="btn btn-danger" href="{% url 'delete-product' product.id %}" role="button">Delete</a></button>


{% endblock %}

